body {
    background-image: url(/img/background.jpg);
    background-color: black;
    background-size: contain;
    margin: 0 auto;
}

#videodiv {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    margin: 0;
    top: 0;
    left: 0;
}