body {
    background-color: black;
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/3c/7f/a8/3c7fa839104f3343b28bcbf9a3d3db87.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}





/* http://wallpaperswa.com/download/view?resolution=2560x1600&file=MjAwMHgxMzMyLzIwMTMxMjE2L3RleHQgaGFja2luZyBjb2RlIGdyZWVuIHRleHRfd2FsbHBhcGVyc3dhLmNvbV84MS5qcGc=&name=dGV4dF9oYWNraW5nX2NvZGVfZ3JlZW5fdGV4dA== */


