header {
    background-color: rgba(0, 0, 0, 0.80);
    max-width: 1000px;
    padding-left: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin: 0 auto;
}

nav a {
    display: inline-block;
    border-color: black;
    width: 194px;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    transition: 0.1s;
    font-family: serif;
    font-size: 0.9em;
    background-color: white;
    box-shadow: 5px 5px 5px #a7a7a7;
    color: black;
}

nav a:hover {
    color: white;
    background-color: #9b9b9b;
    box-shadow: 5px 5px 5px white;
    padding: 5px;
    font-weight: bold;
}

.menubutton {
    border-radius: 5px;
    box-shadow: 5px 5px 5px yellow;
    cursor: pointer;
    
}