main {
    background-color: rgba(0, 0, 0, 0.75);
    background-image: url("");
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: -16px;
    color: white;
    }

    #text_portrait {
        float: left;
        margin-left: 20px;
    }
    #text_personal {
        margin: 5px;
    }
    #pic_portrait {
    margin-top: 15px;
    margin-left: 15px;
    }

/* Edit LIST styles under this line */

    dt {
    font-weight: bold;
    }
