main {
    background-color: rgba(0, 0, 0, 0.70);
    max-width: 1000px;
    min-width: 380px;
    margin: 0 auto;
    margin-bottom: -16px;
    color: white;
    animation: fadein 0.5s;
    }

    #text_portrait {
        float: left;
        margin-left: 20px;
    }
    
    #text_personal {
        margin: 5px;
        float: left;
    }

    #pic_portrait {
    margin-top: 15px;
    margin-left: 15px;
    float: left;
    max-width: 30%;
    min-width: 200px;
    }

    dt {
    font-weight: bold;
    }


@keyframes fadein {
    from { opacity: 0 }
    to { opacity: 1 }
}
