/* ------------------------------ 2560x1440 ------------------------------ */
@media only screen and (max-width:2560px) and (min-width:1920px) {

#videobgref {
    width: 2560px;
    height: 1440px;
    overflow: hidden;    
}

#videobgedu {
    width: 2560px;
    height: 1440px;
    overflow: hidden;
}
    
#videobgindex {
    width: 2560px;
    height: 1440px;
    overflow: hidden;
}

#videobgcont {
    width: 2560px;
    height: 1440px;
    overflow: hidden;
}
#videobgemp {
    width: 2560px;
    height: 1440px;
    overflow: hidden;
}
}

/* ------------------------------ 1920x1080 ------------------------------ */  
@media only screen and (max-width:1920px) and (min-width:800px) {

#videobgref {
    width: 1920px;
    height: 1080px;
    overflow: hidden;    
}

#videobgedu {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
}
    
#videobgindex {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
}

#videobgcont {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
}
#videobgemp {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
}
}

/* ------------------------------ Under 800px no video ------------------------------ */
@media only screen and (max-width:800px) and (min-width:0px) {

#videobgref {
    display: none;
    visibility: hidden;
}

#videobgedu {
    display: none;
    visibility: hidden;
}
    
#videobgindex {
    display: none;
    visibility: hidden;
}

#videobgcont {
    display: none;
    visibility: hidden;
}
#videobgemp {
    display: none;
    visibility: hidden;
}
}



    /* SCREEN OVER 1015px */
@media only screen and (min-width: 1015px) {

    .menubutton {
        display: none;
    }
    .dropdown-content {
        display: inline-block;
    }
}

    /* SCREEN UNDER 1015px */
@media only screen and (max-width: 1015px) {
    .menubutton {
        ;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
        
    }
        
    .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
    }
    
    .show {
        display: block;
    }
    
    nav a {
        margin: 2px;
        
    }
    header {
        display: inline-block;
    }
}



    /* SCREEN UNDER 780px */
@media only screen and (max-width: 780px) {
    #text_portrait {
        font-size: 0.9em;
    }
}
    /* SCREEN UNDER 680px */
@media only screen and (max-width: 680px) {
    #text_portrait {
        font-size: 0.8em;
    }
}
