
/* ------------------------------ 1920x1080 ------------------------------ */  
@media only screen and (min-width:800px) {

    .videodiv {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 100em;
        height: 100em;
        z-index: -99;
        transform: translate(-50%,-50%);
        background: url("/img/background.jpg") no-repeat;
        background-size: cover;
        transition: 1s opacity;
        text-align: center;
        }    
}    
     
/* ------------------------------ Under 800px no video ------------------------------ */
@media only screen and (max-width:800px) {

.videodiv {
    display: none;
}
}

    /* SCREEN OVER 1015px */
@media only screen and (min-width: 1015px) {

    .menubutton {
        display: none;
    }
    .dropdown-content {
        display: inline-block;
    }
}

    /* SCREEN UNDER 1015px */
@media only screen and (max-width: 1015px) {

    .dropdown {
        position: relative;
        display: inline-block;
        
    }
        
    .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
    }
    
    .show {
        display: block;
    }
    
    nav a {
        margin: 2px;
        
    }
    header {
        display: inline-block;
        background-color: rgba(0, 0, 0, 0);
    }
}



    /* SCREEN UNDER 780px */
@media only screen and (max-width: 780px) {
    #text_portrait {
        font-size: 0.9em;
    }
}
    /* SCREEN UNDER 680px */
@media only screen and (max-width: 680px) {
    #text_portrait {
        font-size: 0.8em;
    }
}
