/* ALL SCREEN SIZES UNDER THIS

/* MISC CSS RULES UNDER THIS LINE */

    .clearfix:after {
        visibility: hidden;
        display: block;
         font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
    .clearfix { display: inline-block; }
    * html .clearfix { height: 1%; }
    .clearfix { display: block; }
    *{
        box-sizing: border-box;
    }
    img {
    max-width: 100%;  
    }

/* Screen sizing rules under this line */

    /* SCREEN OVER 1002px */
@media only screen and (min-width: 1003px) {
    .menubutton {
        display: none;
    }
    .dropdown-content {
        display: inline-block;
    }
}
    /* SCREEN UNDER 1002px */
@media only screen and (max-width: 1002px) {
    
    .dropdown {
        position: relative;
        display: inline-block;
    }
        
    .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
    }
    
    .show {
        display: block;
    }
    
    nav a {
        margin: 3px;
    }
    header {
        display: inline-block;
    }
}